QWidget{
    background-color: #282828;
    color: white;
    
}

QLineEdit{
    color: black;
}
#s_frm_btn_theme{
    background-color: #F15A24;
    border-radius: 18px;
}
#s_btn_theme{
    border: 1px solid #1d1d1d;
    border-radius: 10px;
    background-color: white;
    
}

#s_txt_orig_path:disabled{
    color:black;
}
QPushButton:enabled{
    color: white;
    background-color: #282828;
    
}

QPushButton:disabled{
    color: #6e6b6b;
    background-color: transparent;
    
}

QRadioButton{
    background-color: transparent;
}

QRadioButton:disabled{
    background-color: transparent;
    color: #6e6b6b;
}

QRadioButton:enabled{
    background-color: transparent;
    color: white;
}

QFrame{
    color: white;
    background-color: #1f1f1f; 
    border-radius: 15px;
    border: 4px solid #1d1d1d;
    
}

QLabel{
    border: none;
    background-color: transparent;
}

#s_lbl_title{
    background-color: transparent;
    
}

QSpinBox::up-button {
    width: 0px;
    height: 0px;
}
QSpinBox::down-button {
    width: 0px;
    height: 0px;
}
QSpinBox {
    background-color: transparent;
    selection-background-color: #282828;
    selection-color: black;
    font-size: 14pt;
}

QSpinBox:enabled {
    color: white;
    background-color: transparent;
    selection-background-color: #282828;
    selection-color: white;
    font-size: 14pt;
}

QSpinBox:disabled {
    color: #6e6b6b;
    background-color: transparent;
    font-size: 14pt;
}

QLineEdit{
    background-color: white;
    border-radius: 5px;
}

QHeaderView::section{
    border: none;
    color: black;
    background-color: #e0dede;
}
#s_btn_schedule_del{
    text-align: center;
}

#s_lst_schedule_list::item{
    border-bottom: 1px solid black;
}

#s_lst_schedule_list::item:selected{
    background-color: white;
    color:black;
}

#s_frm_shutdown, #s_frm_start{
background-color: #282828;
}

#s_frm_shutdown QLabel{
    color:#F15A24;
}

#s_frm_start{
    background-color: #282828;
}
    
#s_frm_start QLabel{
        color:#F15A24;
}

#s_lbl_ckb_start:disabled, #s_lbl_ckb_shutdown:disabled{
    color:#6e6b6b

}


                                        